@media only screen and (min-width: 0px) {
    .df {
        @include flexbox();
    }
    .home {
        .banner {
            background-image: url("../../img/any_bg.jpg");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            padding: 70px 0 40px;
            .logo {
                max-width: 175px;
                margin-bottom: 25px;
            }
            .main-heading {
                font-size: 3rem;
                line-height: 1.2;
                margin: 5px 0;
            }
            .side-heading {
                font-size: 1.1rem;
                font-weight: $regular;
                line-height: 1.5;
                margin: 15px 0;
            }
            .menu-holder {
                padding: 25px 0;
                ul {
                    @extend .df;
                    align-items: center;
                    li {
                        margin-right: 20px;
                        padding: 2px 20px 2px 0;
                        a {
                            font-family: $heading-font;
                            color: $primary-color;
                            font-size: 1.1rem;
                            font-weight: 600;
                        }
                        &:not(:last-child) {
                            border-right: 2px solid $primary-color;
                        }
                    }
                }
            }
        }
    }

    .navbar {
        background-color: #fff;
        padding: 10px 15px;
        border-bottom: 1px solid #ccc;
        box-shadow: 0px 2px 5px #ccc;
        .navbar-brand {
            @extend .df;
            align-items: center;
            flex-wrap: nowrap;
        }
        .nav-logo {
            max-width: 90px;
        }
        .nav-text {
            font-family: $special-font;
            font-weight: $bold;
            color: $primary-color;
            font-size: 16px;
            line-height: 1.2;
            max-width: 150px;
            white-space: pre-line;
            padding-left: 10px;
        }
        .navbar-nav {
            .nav-item {
                &.active {
                    a {
                        color: $primary-color !important;
                    }
                }
            }
        }
    }

    section {
        padding: 50px 0;
        .section-heading {
            font-size: 1.5rem;
            color: $primary-color;
            font-family: $special-font;
            font-weight: $bold;
        }
    }
    .table {
        margin-bottom: 50px;
    }
}
