@media only screen and (min-width: 1600px) {
    .container {
        &:not(.no-xxl) {
            max-width: 1540px;
        }
    }
    .home {
        .banner {
            height: 100vh;
            .main-heading {
                font-size: 4rem;
            }
            .side-heading {
                font-size: 1.65rem;
            }
            .menu-holder {
                ul {
                    li {
                        a {
                            font-size: 1.65rem;
                        }
                    }
                }
            }
            .logo {
                margin-bottom: 50px;
                max-width: 220px;
            }
            .banner-content {
                max-width: 55%;
                margin-bottom: 70px;
            }
        }
    }
    .initiative-banner {
        max-height: 900px;
    }
    .story-section {
        .story-text {
            max-width: 1200px;
        }
    }
    .process-section {
        .text-col {
            padding-left: calc((100vw - 1540px) / 2);
        }
        .process-text {
            padding-right: 100px;
        }
    }
    .people-section {
        .people-text {
            padding-left: 75px;
        }
    }
}
