@media only screen and (min-width: 1200px) {
    .home {
        .banner {
            background-position: right bottom;
            background-size: cover;
            padding: 0;
            .main-heading {
                font-size: 3.35rem;
            }
            .banner-content {
                margin-bottom: 50px;
            }
            .menu-holder {
                ul {
                    li {
                        margin-right: 30px;
                        padding-right: 30px;
                        a {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    section {
        .section-heading {
            font-size: 3rem;
            margin-top: 25px;
        }
        .content {
            margin: 20px auto;
            text-align: justify;
            p {
                font-size: 1.1rem;
                line-height: 2;
            }
        }
    }
    .navbar {
        .navbar-brand {
            max-width: 300px;
        }
        .nav-logo {
            // max-width: 100px;
            margin-right: 10px;
        }
        .nav-text {
            font-size: 24px;
        }
    }

    .initiative-page {
        .navbar {
            .nav-text {
                font-size: 24px;
            }
            .nav-item {
                a {
                    font-size: 18px;
                }
            }
        }
    }
    .initiative-banner {
        max-height: 700px;
        .heading-text {
            font-size: 55px;
            max-width: 650px;
        }
        .sub-text {
            max-width: 750px;
        }
    }
    .story-section {
        padding: 75px 0 50px;
        .heading-text {
            font-size: 50px;
        }
        .story-text {
            max-width: 900px;
            margin: 0 auto;
            p {
                line-height: 1.75;
            }
        }
    }
    .process-section {
        .text-col {
            padding-left: calc((100vw - 1140px) / 2);
        }
        .process-text,
        .heading-text {
            padding-left: 0;
            padding-right: 40px;
        }
        .image-col {
            flex: auto;
            img {
                margin-left: auto;
                margin-right: 0;
            }
        }
        .heading-text {
            margin-top: 60px;
        }
        .process-text {
            p {
                font-size: 18px;
                line-height: 1.5;
            }
        }
    }
    .people-section {
        .heading-text {
            font-size: 45px;
            margin-bottom: 40px;
        }
        .people-text {
            padding-left: 50px;
        }
        .people-images-part {
            .people-holder {
                .people {
                    max-width: 220px;
                    padding: 15px 20px;
                }
            }
        }
    }
    .home-initiatives {
        .initiative {
            .initiative-text {
                padding: 25px 10px;
            }
            .initiative-name {
                font-size: 26px;
                margin: 30px 0 15px;
            }
            .initiative-description {
                font-size: 18px;
            }
        }
    }
    .vision-mission {
        padding-bottom: 75px;
        .section-heading {
            font-size: 40px;
        }
    }

    .blog-section {
        .col-md {
            flex: 33.33%;
            max-width: 33.33%;
            padding: 20px;
            &.article-block {
                flex: calc(33.33% - 40px);
            }
        }
    }
    .about-page {
        .navbar {
            .navbar-brand {
                max-width: 300px;
            }
        }
        .about-content-section {
            padding-top: 180px;
            .image-col {
                flex: 50%;
                max-width: 50%;
                img {
                    max-width: 300px;
                    margin-right: 0;
                }
            }
            .content-col {
                @include flexbox;
                align-items: center;
                flex: 50%;
                max-width: 50%;
                p {
                    font-size: 18px;
                    line-height: 1.5;
                }
            }
        }
        .about-people-section {
            .sub-heading {
                max-width: 700px;
            }
            .people-holder {
                .people-text {
                    max-width: 350px;
                }
            }
        }
    }
}
