@media only screen and (min-width: 0px) {
    .df {
        @include flexbox();
    }
    .home {
        .banner {
            background-image: url("../../img/any_bg.jpg");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            padding: 70px 0 40px;
            .logo {
                max-width: 150px;
                margin-bottom: 25px;
            }
            .main-heading {
                font-size: 2.5rem;
                line-height: 1.2;
                margin: 5px 0;
            }
            .side-heading {
                font-size: 1.1rem;
                font-weight: $regular;
                line-height: 1.5;
                margin: 15px 0;
            }
            .menu-holder {
                padding: 25px 0;
                ul {
                    @extend .df;
                    align-items: center;
                    li {
                        margin-right: 20px;
                        padding: 2px 20px 2px 0;
                        a {
                            font-family: $heading-font;
                            color: $primary-color;
                            font-size: 1.1rem;
                            font-weight: 600;
                        }
                        &:not(:last-child) {
                            border-right: 2px solid $primary-color;
                        }
                    }
                }
            }
        }
    }

    .navbar {
        background-color: #fff;
        padding: 10px 15px;
        border-bottom: 1px solid #ccc;
        box-shadow: 0px 2px 5px #ccc;
        .navbar-brand {
            @extend .df;
            align-items: center;
            flex-wrap: nowrap;
        }
        .nav-logo,
        .nav-logo-alt {
            max-width: 70px;
        }
        .nav-logo-alt {
            display: none;
        }
        .nav-text {
            font-family: $special-font;
            font-weight: $bold;
            color: $primary-color;
            font-size: 16px;
            line-height: 1.2;
            max-width: 150px;
            white-space: pre-line;
            padding-left: 10px;
        }
        .navbar-nav {
            .nav-item {
                &.active {
                    a {
                        color: $primary-color !important;
                    }
                }
            }
        }
    }

    section {
        padding: 50px 0;
        .main-heading {
            color: $primary-color;
            font-family: $special-font;
            font-weight: $bold;
            font-size: 2rem;
            margin: 1rem 0 2rem;
        }
        .section-heading {
            font-size: 1.5rem;
            color: $primary-color;
            font-family: $special-font;
            font-weight: $bold;
        }
        &.gallery {
            .section-heading {
                font-size: 1.5rem;
                margin: 0;
                color: $text-black;
                font-family: $heading-font;
            }
        }
        a {
            font-size: 16px;
            text-decoration: underline;
        }
    }
    .table {
        margin-bottom: 50px;
    }
    .knowledge-section,
    .events-section {
        table,
        th,
        td {
            border: 1px solid black;
        }

        a:link {
            color: blue;
            background-color: transparent;
            text-decoration: underline;
        }

        td {
            min-width: 100px;
            vertical-align: middle;
            padding: 10px 15px;
            &:last-child {
                text-align: center;
                width: 10%;
            }
            p,
            a {
                font-size: 16px;
            }
            a {
                text-decoration: underline;
            }
        }
    }

    .events-section {
        td {
            &:nth-child(2),
            &:last-child {
                width: 20%;
            }
        }
    }

    .contact-form {
        margin: 40px 0;
        input,
        textarea {
            max-width: 300px;
        }
    }

    .initiative-page {
        .navbar {
            box-shadow: none;
            border: 0;
            position: fixed;
            width: 100%;
            background-color: transparent;
            z-index: 100;
            .navbar-toggler {
                outline: none;
                border: 0 !important;
            }
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            }
            .nav-text {
                color: #fff;
            }
            .nav-logo {
                display: none;
            }
            .nav-logo-alt {
                display: block;
                max-width: 60px;
            }
            .navbar-collapse {
                background-color: #fff;
                padding: 15px;
            }
        }
    }

    .initiative-banner {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 120px 15px 50px;
        .heading-text {
            font-size: 32px;
            margin: 0 0 30px;
            font-weight: $bold;
        }
        .sub-text {
            margin: 20px 0;
            font-size: 18px;
            line-height: 1.5;
            font-weight: $light;
        }
    }

    .story-section {
        padding: 50px 0 30px;
        .heading-text {
            margin: 0 0 30px;
            font-size: 32px;
        }
        .story-text {
            p {
                font-size: 16px;
            }
        }
    }
    .process-section {
        padding: 40px 0 0;
        .heading-text {
            font-size: 30px;
            margin: 0 0 30px;
        }
        .process-text {
            p {
                font-size: 16px;
                margin: 15px 0;
                text-align: justify;
            }
        }
        .image-col {
            padding: 0;
            margin: 30px 0 0;
        }
    }

    .people-section {
        padding: 40px 0 30px;
        .heading-text {
            font-size: 30px;
            margin: 0 0 20px;
        }
        .people-text {
            p {
                font-size: 16px;
                text-align: justify;
            }
        }
        .text-part {
            flex: 100%;
        }

        .people-images-part {
            margin: 20px 0;
            .people-holder {
                @extend .df;
                justify-content: center;
                .people {
                    padding: 15px;
                    flex: 50%;
                    max-width: 50%;
                    img {
                        border: 5px solid $special-color;
                        margin: 0 auto;
                    }
                    .name-text {
                        margin: 5px 0;
                        font-size: 14px;
                        line-height: 1;
                        font-weight: $regular;
                        text-align: center;
                    }
                }
            }
        }
    }
}
