@media only screen and (min-width: 0px) {
    .df {
        @include flexbox();
    }
    .home {
        .banner {
            background-image: url("../../img/any_bg.jpg");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            padding: 70px 0 40px;
            .logo {
                max-width: 150px;
                margin-bottom: 25px;
            }
            .main-heading {
                font-size: 2.5rem;
                line-height: 1.2;
                margin: 5px 0;
            }
            .side-heading {
                font-size: 1.1rem;
                font-weight: $regular;
                line-height: 1.5;
                margin: 15px 0;
            }
            .menu-holder {
                padding: 25px 0;
                ul {
                    @extend .df;
                    align-items: center;
                    li {
                        margin-right: 10px;
                        padding: 2px 15px 2px 0;
                        margin-bottom: 20px;
                        a {
                            font-family: $heading-font;
                            color: $primary-color;
                            font-size: 1rem;
                            font-weight: $bold;
                        }
                        &:not(:last-child) {
                            border-right: 1px solid $primary-color;
                        }
                    }
                }
            }
        }
    }

    .navbar {
        background-color: #fff;
        padding: 10px 15px;
        border-bottom: 1px solid #ccc;
        box-shadow: 0px 2px 5px #ccc;
        .navbar-brand {
            display: grid;
            grid-template-columns: 85px auto;
            grid-template-rows: 65% 35%;
            position: relative;
        }
        .nav-logo,
        .nav-logo-alt {
            max-width: 70px;
            grid-row: 1 / span 2;
            grid-column: 1;
        }
        .nav-logo-alt {
            display: none;
        }
        .nav-text {
            font-family: "Charm", cursive;
            font-weight: $bold;
            color: $primary-color;
            font-size: 16px;
            line-height: 1.2;
            max-width: 150px;
            white-space: pre-line;
            grid-row: 1;
            grid-column: 2;
            align-self: flex-end;
        }
        .nav-sub-text {
            grid-column: 2;
            grid-row: 2;
            font-size: 10px;
            color: $special-color-2;
            font-family: $primary-font;
            align-self: center;
        }
        .navbar-nav {
            .nav-item {
                &.active {
                    a {
                        color: $primary-color !important;
                    }
                }
            }
        }
        .dropdown {
            .dropdown-item {
                border: 0 !important;
                color: #0a0a0a !important;
                padding: 8px 15px;
                font-size: 15px;
            }
        }
    }

    section {
        padding: 50px 0;
        .main-heading {
            color: $primary-color;
            font-family: $special-font;
            font-weight: $bold;
            font-size: 2rem;
            margin: 1rem 0 2rem;
        }
        .section-heading {
            font-size: 1.5rem;
            color: $primary-color;
            font-family: $special-font;
            font-weight: $bold;
        }
        &.gallery {
            .section-heading {
                font-size: 1.5rem;
                margin: 0;
                color: $text-black;
                font-family: $heading-font;
            }
        }
        a {
            font-size: 16px;
            text-decoration: underline;
        }
    }
    .table {
        margin-bottom: 50px;
    }
    .knowledge-section,
    .events-section {
        table,
        th,
        td {
            border: 1px solid black;
        }

        a:link {
            color: blue;
            background-color: transparent;
            text-decoration: underline;
        }

        td {
            min-width: 100px;
            vertical-align: middle;
            padding: 10px 15px;
            &:last-child {
                text-align: center;
                width: 10%;
            }
            p,
            a {
                font-size: 16px;
            }
            a {
                text-decoration: underline;
            }
        }
    }

    .events-section {
        td {
            &:nth-child(2),
            &:last-child {
                width: 20%;
            }
        }
    }

    .contact-form {
        margin: 40px 0;
        input,
        textarea {
            max-width: 300px;
        }
    }

    .initiative-page {
        .navbar {
            box-shadow: none;
            border: 0;
            position: fixed;
            width: 100%;
            background-color: transparent;
            z-index: 100;
            .navbar-toggler {
                outline: none;
                border: 0 !important;
            }
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            }
            .nav-sub-text {
                color: #fff;
            }
            .nav-text {
                color: #fff;
            }
            .nav-logo {
                display: none;
            }
            .nav-logo-alt {
                display: block;
                max-width: 60px;
            }
            .navbar-collapse {
                background-color: #fff;
                padding: 15px;
            }
            .nav-item {
                &:hover {
                    a {
                        color: #fff;
                    }
                }
            }
            .dropdown {
                .dropdown-item {
                    border: 0 !important;
                    color: #0a0a0a !important;
                    padding: 8px 15px;
                    font-size: 15px;
                }
            }
        }
    }

    .initiative-banner {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 120px 15px 50px;
        .heading-text {
            font-size: 32px;
            margin: 0 0 30px;
            font-weight: $bold;
        }
        .sub-text {
            margin: 20px 0;
            font-size: 18px;
            line-height: 1.5;
            font-weight: $light;
        }
    }

    .story-section {
        padding: 50px 0 30px;
        .heading-text {
            margin: 0 0 30px;
            font-size: 32px;
        }
        .story-text {
            p {
                font-size: 16px;
            }
        }
    }
    .process-section {
        padding: 40px 0 0;
        .heading-text {
            font-size: 30px;
            margin: 0 0 30px;
        }
        .process-text {
            p {
                font-size: 16px;
                margin: 15px 0;
                text-align: justify;
            }
        }
        .image-col {
            padding: 0;
            margin: 30px 0 0;
        }
    }

    .people-section {
        padding: 40px 0 30px;
        .heading-text {
            font-size: 30px;
            margin: 0 0 20px;
        }
        .people-text {
            p {
                font-size: 16px;
                text-align: justify;
            }
        }
        .text-part {
            flex: 100%;
        }

        .people-images-part {
            margin: 20px 0;
            .people-holder {
                @extend .df;
                justify-content: center;
                .people {
                    padding: 15px;
                    flex: 50%;
                    max-width: 50%;
                    img {
                        border: 1px solid $special-color;
                        margin: 0 auto;
                    }
                    .name-text {
                        margin: 5px 0;
                        font-size: 14px;
                        line-height: 1;
                        font-weight: $regular;
                        text-align: center;
                    }
                }
            }
        }
    }
    .home-initiatives {
        padding: 40px 0 30px;
        .section-heading {
            margin: 0;
            font-size: 25px;
        }
        .initiative-holder {
            @extend .df;
            margin: 20px 0;
            justify-content: center;
        }
        .initiative {
            display: block;
            text-decoration: none;
            position: relative;
            border: 1px solid $primary-color;
            margin: 20px 15px;
            max-width: 300px;
            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                left: 0;
                top: 0;
                background-color: #000;
                @include transition(0.3s, ease-in-out);
            }
            .initiative-img {
                opacity: 0;
                @include transition(0.3s, ease-in-out);
                filter: grayscale(100%);
            }
            .initiative-text {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
            }
            .initiative-name {
                text-decoration: none;
                font-family: $heading-font;
                color: $primary-color;
                text-align: center;
                font-weight: $bold;
                font-size: 20px;
                margin: 0 0 10px;
            }
            .initiative-description {
                text-align: center;
                margin: 0;
                font-weight: $light;
                color: $text-grey;
            }
            .read-more {
                font-size: 14px;
                margin: 0;
                text-decoration: underline;
                @include transition(0.3s, ease-in-out);
            }
            &:hover {
                .initiative-img {
                    opacity: 0.8;
                }
                .initiative-name {
                    color: #fff;
                    border-bottom: 1px solid #fff;
                }
                .initiative-description {
                    color: #fff;
                }
                .read-more {
                    color: #fff;
                }
                .overlay {
                    opacity: 0.5;
                }
            }
        }
    }

    .vision-mission {
        .section-heading {
            font-size: 30px;
            margin-bottom: 20px;
        }
        .vs-part {
            margin-top: 30px;
            padding: 0 40px 20px;
            &:first-of-type {
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    width: 250px;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 1px;
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .home-nav {
        background: transparent;
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: none;
        border-bottom: 0;
        z-index: 100;
        .navbar-toggler {
            margin-left: auto;
            border: 0;
            outline: none;
        }
        .navbar-collapse {
            background-color: rgba(255, 255, 255, 0.95);
            padding: 15px;
        }
        .dropdown {
            .dropdown-item {
                border: 0 !important;
                color: #0a0a0a !important;
                padding: 8px 15px;
                font-size: 15px;
            }
        }
    }
    .knowledge-main-page {
        .navbar {
            background: none;
            box-shadow: none;
            border-bottom: 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 100;
            .navbar-brand {
                .nav-sub-text {
                    color: #fff;
                }
                .nav-text {
                    color: #fff;
                }
            }
            .navbar-toggler {
                outline: none;
                border: 0 !important;
            }
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            }
            .navbar-collapse {
                background-color: #fff;
                padding: 15px;
            }
            .nav-item {
                &:hover {
                    a {
                        color: #fff;
                    }
                }
            }
            .dropdown {
                .dropdown-item {
                    border: 0 !important;
                    color: #0a0a0a !important;
                    padding: 8px 15px;
                    font-size: 15px;
                }
            }
        }
        .knowledge-banner {
            padding: 150px 0 50px;
            .banner-heading {
                font-size: 35px;
            }
            .banner-text {
                font-size: 16px;
                margin: 30px 0;
            }
        }
    }

    .blog-section {
        padding: 75px 0 50px;
        .col-md {
            padding: 30px 15px;
        }
        .blog-video {
            width: 100%;
            min-height: 300px;
            border: 1px solid rgba($text-grey, 0.5);
            margin: 20px 0;
        }
        .blog-item {
            .item-img {
                height: 175px;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
                .overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.25);
                }
            }
            .item-part {
                background-color: $tertiary-color;
                padding: 30px 20px 30px;
                .item-date {
                    margin: 0;
                    font-family: $heading-font;
                    color: #4a4a4a;
                }
                .item-title {
                    font-size: 30px;
                    font-family: $special-font;
                    color: $primary-color;
                    margin: 0 0 10px;
                }
                .item-excerpt {
                    font-size: 14px;
                    color: #4f4f4f;
                    margin: 0 0 15px;
                }
                .item-footer {
                    @extend .df;
                    align-items: center;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    .item-author {
                        margin: 0;
                        font-family: $heading-font;
                        color: #4a4a4a;
                    }
                    .read-more {
                        text-align: right;
                        color: $primary-color;
                        font-family: $heading-font;
                        font-style: italic;
                    }
                }
            }
        }
    }
    .dropdown-toggle::after {
        display: none;
    }

    .about-page {
        .navbar {
            box-shadow: none;
            background: none;
            border-bottom: 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 100;
            .navbar-toggler {
                outline: none;
                border: 0 !important;
            }
            .navbar-collapse {
                background-color: transparent;
                padding: 15px;
            }
            .dropdown {
                .dropdown-item {
                    border: 0 !important;
                    color: #0a0a0a !important;
                    padding: 8px 15px;
                    font-size: 15px;
                }
            }
        }
        .about-content-section {
            background-color: rgba(#fac98d, 0.2);
            padding: 120px 0 50px;
            .main-heading {
                margin: 20px 0;
                text-align: center;
                font-size: 30px;
            }
            .image-col {
                flex: 100%;
                padding: 30px 0;
                img {
                    max-width: 200px;
                    margin: 0 auto;
                }
            }
            .content-col {
                p {
                    color: #4a4a4a;
                }
            }
        }

        .about-people-section {
            padding: 50px 0 20px;
            .main-heading {
                font-size: 30px;
            }
            .sub-heading {
                font-size: 14px;
                text-align: center;
                margin: 20px 0;
            }
            .people-holder {
                padding: 30px 0;
                @extend .df;
                justify-content: center;
                .people {
                    padding: 20px;
                    flex: 100%;
                }
                .people-image {
                    margin: 10px auto;
                    max-width: 150px;
                    border: 1px solid $text-black;
                }
                .people-name {
                    text-align: center;
                    margin: 10px 0 5px;
                    color: $primary-color;
                    font-size: 18px;
                }
                .people-text {
                    text-align: center;
                    margin: 10px 0;
                    color: #4f4f4f;
                }
                .people-designation {
                    font-size: 16px;
                    color: $special-color;
                    text-align: center;
                    font-weight: $regular;
                    margin: 0;
                }
            }
        }
    }
}
