@media only screen and (min-width: 992px) {
    .dflg {
        @include flexbox();
    }
    .home {
        .banner {
            padding: 50px 0;
            @extend .dflg;
            align-items: center;
            min-height: 850px;
            .banner-content {
                max-width: 65%;
            }
        }
    }
    .navbar {
        .nav-logo {
            max-width: 100px;
        }
        .nav-text {
            font-size: 20px;
        }
    }
    .navbar-nav {
        .nav-item {
            font-family: $heading-font;
            a {
                font-size: 18px;
                padding-left: 20px !important;
                color: $text-black;
                &:hover {
                    color: $primary-color;
                    text-decoration: underline;
                }
            }
        }
    }
}
